body{
    background-color: rgb(128, 199, 202);
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: 45px ;
}

input[type="text"]{
    display: block;
}

input[type="submit"]{
    display: block;
    margin-top: 10px;
}

.uno{
    text-align: center;
    font-size: 40px;
}

.dos{
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.tres{
    margin: auto;
    font-size: 20px;
}

.bucle{
    margin-top: 50px;
}

.total{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}